In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from config import username, password
from sqlalchemy import create_engine

In [ ]:
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/hw')

connection = engine.connect()

In [ ]:
query = "<add sql statement>" 
some_df = pd.read_sql(query, connection)

In [ ]:
salaries = pd.read_sql("SELECT * FROM salaries", connection)
titles = pd.read_sql("SELECT * FROM titles", connection)
departments = pd.read_sql("SELECT * FROM departments", connection)
dept_emp = pd.read_sql("SELECT * FROM dept_emp", connection)
dept_manager = pd.read_sql("SELECT * FROM dept_manager", connection)
employees = pd.read_sql("SELECT * FROM employees", connection)